body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #e0e0e0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px;
  width: 80vmin; 
  height: 80vmin;
}

.score-list {
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}

.score-list h2 {
  text-align: center;
}

.score-list ol {
  padding: 0;
  list-style: none;
  text-align: center;
}

.score-list li {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

@keyframes matchAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(15deg);
  }
  50% {
    transform: scale(1.4) rotate(-15deg);
  }
  75% {
    transform: scale(1.2) rotate(15deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.card.matched {
  animation: matchAnimation 1s ease-in-out;
}

.toast-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(17px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.toast-message {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 100px;
}

.input-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(17px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.input-message {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 150px;
}

.input-message input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-message button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-message button:hover {
  background-color: #218838;
}

@media screen and (min-width: 768px) {
  .App {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .game-container {
    width: 65%;
    order: 2;
  }

  .score-list {
    width: 30%;
    order: 1;
  }

  .grid-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .game-container {
    width: 75%;
  }

  .score-list {
    width: 20%;
  }

  .grid-container {
    max-width: 80vmin;
  }
}

@media screen and (min-width: 1400px) {
  .grid-container {
    max-width: 1000px;
  }
}
